--
-- PostgreSQL database dump
--

-- Dumped from database version 15.4 (Debian 15.4-2.pgdg120+1)
-- Dumped by pg_dump version 15.4 (Debian 15.4-2.pgdg120+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: vector; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS vector WITH SCHEMA public;


--
-- Name: EXTENSION vector; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION vector IS 'vector data type and ivfflat and hnsw access methods';


--
-- Name: sentiment_comments_food_quality_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sentiment_comments_food_quality_enum AS ENUM (
    'positive',
    'negative',
    'neutral'
);


--
-- Name: sentiment_comments_price_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sentiment_comments_price_enum AS ENUM (
    'positive',
    'negative',
    'neutral'
);


--
-- Name: sentiment_comments_service_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.sentiment_comments_service_enum AS ENUM (
    'positive',
    'negative',
    'neutral'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: langchain_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.langchain_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    text text,
    metadata jsonb,
    embedding public.vector
);


--
-- Name: recommendation_best_posting; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recommendation_best_posting (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    day character varying(255) NOT NULL,
    reason character varying(255) NOT NULL,
    engagement_potential character varying(255) NOT NULL,
    best_content character varying(255) NOT NULL,
    recommendation_result_id uuid,
    "time" character varying(255) NOT NULL
);


--
-- Name: recommendation_captions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recommendation_captions (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    caption character varying(255) NOT NULL,
    recommendation_result_id uuid
);


--
-- Name: recommendation_hastags; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recommendation_hastags (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    hashtag character varying(255) NOT NULL,
    recommendation_result_id uuid
);


--
-- Name: recommendation_result; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.recommendation_result (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    sentiment_result_id uuid,
    content_strategy character varying(255) NOT NULL
);


--
-- Name: scrape_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scrape_results (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    user_id uuid,
    username character varying(255) NOT NULL,
    full_name character varying(255),
    bio character varying(500),
    post_count integer,
    full_data character varying(255) NOT NULL
);


--
-- Name: sentiment_comments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sentiment_comments (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    sentiment_result_id uuid,
    food_quality public.sentiment_comments_food_quality_enum NOT NULL,
    price public.sentiment_comments_price_enum NOT NULL,
    service public.sentiment_comments_service_enum NOT NULL,
    comment character varying(800) NOT NULL
);


--
-- Name: sentiment_result; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.sentiment_result (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    scrape_result_id uuid,
    summary jsonb NOT NULL,
    sentiment_trend jsonb NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    username character varying(255) NOT NULL,
    password character varying NOT NULL,
    refresh_token character varying
);


--
-- Data for Name: langchain_documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: recommendation_best_posting; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.recommendation_best_posting (id, created_at, updated_at, day, reason, engagement_potential, best_content, recommendation_result_id, "time") VALUES ('96420979-be12-4816-8cd1-996376a58464', '2026-01-24 15:41:10.186749+00', NULL, 'Weekdays', 'Waktu sarapan - orang mencari rekomendasi breakfast', 'high', 'Menu sarapan, promo pagi, breakfast specials', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495', '06:30-08:30');
INSERT INTO public.recommendation_best_posting (id, created_at, updated_at, day, reason, engagement_potential, best_content, recommendation_result_id, "time") VALUES ('24d768aa-45ad-42e6-9e24-43f22a269b0a', '2026-01-24 15:41:10.186749+00', NULL, 'All days', 'Peak lunch time - engagement tertinggi untuk food content', 'very_high', 'Menu makan siang, promo lunch, daily specials', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495', '11:00-13:30');
INSERT INTO public.recommendation_best_posting (id, created_at, updated_at, day, reason, engagement_potential, best_content, recommendation_result_id, "time") VALUES ('5ebd7d82-1555-45f3-9acd-e845d837f1c2', '2026-01-24 15:41:10.186749+00', NULL, 'All days', 'Snack time - orang cari cemilan dan minuman', 'medium', 'Snack, minuman, dessert, coffee', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495', '15:00-17:00');


--
-- Data for Name: recommendation_captions; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.recommendation_captions (id, created_at, updated_at, caption, recommendation_result_id) VALUES ('c24891d7-35db-44f5-b245-c98f2ade5d5c', '2026-01-24 15:41:10.186749+00', NULL, 'Kunjungi pengalaman kuliner yang terus kami tingkatkan untuk Anda di 𝗠𝗜𝗘 𝗚𝗔𝗖𝗢𝗔𝗡! 🍽️ Kunjungi kami hari ini!', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');
INSERT INTO public.recommendation_captions (id, created_at, updated_at, caption, recommendation_result_id) VALUES ('fc22b881-6961-4091-97e8-0be65742f0c4', '2026-01-24 15:41:10.186749+00', NULL, 'Kunjungi pengalaman kuliner yang terus kami tingkatkan untuk Anda di 𝗠𝗜𝗘 𝗚𝗔𝗖𝗢𝗔𝗡! 😊 Cek menu lengkap kami!', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');
INSERT INTO public.recommendation_captions (id, created_at, updated_at, caption, recommendation_result_id) VALUES ('185ecf02-a0fa-4fd6-9cae-c4869f43101a', '2026-01-24 15:41:10.186749+00', NULL, 'Kunjungi pengalaman kuliner yang terus kami tingkatkan untuk Anda di 𝗠𝗜𝗘 𝗚𝗔𝗖𝗢𝗔𝗡! ☕ Datang dan rasakan sendiri!', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');


--
-- Data for Name: recommendation_hastags; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.recommendation_hastags (id, created_at, updated_at, hashtag, recommendation_result_id) VALUES ('4250ce1e-ab8f-49c8-a1ab-2995afb36025', '2026-01-24 15:41:10.186749+00', NULL, '#umkm', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');
INSERT INTO public.recommendation_hastags (id, created_at, updated_at, hashtag, recommendation_result_id) VALUES ('b1c7bbf1-8b4a-4acb-bba2-c1e819c370eb', '2026-01-24 15:41:10.186749+00', NULL, '#umkmindonesia', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');
INSERT INTO public.recommendation_hastags (id, created_at, updated_at, hashtag, recommendation_result_id) VALUES ('76cf8c2c-3b59-4218-9370-2c290a59f8d4', '2026-01-24 15:41:10.186749+00', NULL, '#supportlocal', 'bac78ae0-7e6e-4abf-9b49-7e3e47d6e495');


--
-- Data for Name: recommendation_result; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.recommendation_result (id, created_at, updated_at, sentiment_result_id, content_strategy) VALUES ('bac78ae0-7e6e-4abf-9b49-7e3e47d6e495', '2026-01-24 15:41:10.186749+00', NULL, '831b5a6a-eaa1-48c8-bec1-76b93e30b92b', '🎯 Overall: Sentiment mixed - highlight positif, improve yang kurang');


--
-- Data for Name: scrape_results; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.scrape_results (id, created_at, updated_at, user_id, username, full_name, bio, post_count, full_data) VALUES ('9e560ee6-a326-4f03-a573-e965c97767f7', '2026-01-24 15:40:51.683446+00', NULL, '139465b7-eb1a-4cfd-b3c9-c935cd7ff212', 'mie_gacoan', 'John Doe', 'Software developer passionate about creating amazing applications.', 42, '1769269251673-mie_gacoan_scrape.json');
INSERT INTO public.scrape_results (id, created_at, updated_at, user_id, username, full_name, bio, post_count, full_data) VALUES ('3db0a090-acf3-4b53-a4bf-c3910913f3ed', '2026-01-28 10:23:15.106979+00', NULL, '139465b7-eb1a-4cfd-b3c9-c935cd7ff212', 'deles', 'John Doe', 'Software developer passionate about creating amazing applications.', 42, '1769595795099-mie_gacoan_scrape.json');


--
-- Data for Name: sentiment_comments; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.sentiment_comments (id, created_at, updated_at, sentiment_result_id, food_quality, price, service, comment) VALUES ('62f340b8-f23f-4bb9-8c43-5481ba62af62', '2026-01-24 15:41:10.186749+00', NULL, '831b5a6a-eaa1-48c8-bec1-76b93e30b92b', 'neutral', 'neutral', 'positive', 'jasa cv k proses cepat aman');
INSERT INTO public.sentiment_comments (id, created_at, updated_at, sentiment_result_id, food_quality, price, service, comment) VALUES ('fa32cc8c-12ba-4948-8731-077faf75624c', '2026-01-24 15:41:10.186749+00', NULL, '831b5a6a-eaa1-48c8-bec1-76b93e30b92b', 'positive', 'neutral', 'neutral', 'wah seru nih harus ikutan ni mie favorit');
INSERT INTO public.sentiment_comments (id, created_at, updated_at, sentiment_result_id, food_quality, price, service, comment) VALUES ('90e66f33-b0a6-46a6-9e61-b94acc1ca6c7', '2026-01-24 15:41:10.186749+00', NULL, '831b5a6a-eaa1-48c8-bec1-76b93e30b92b', 'positive', 'positive', 'positive', 'yuk ramein ultah mie gacoan bisa dapetin voucher makan nih fy');


--
-- Data for Name: sentiment_result; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

INSERT INTO public.users (id, created_at, updated_at, username, password, refresh_token) VALUES ('c40e3e7c-0ec6-4e3c-aff4-94c54c07f968', '2026-05-21 01:28:11.280032+00', NULL, 'admin', '$2b$10$lThq7o554a3ioKpjcfCdROP3Z.BuzQkzoSJkDBd71JvX1GRmUg/2K', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJjNDBlM2U3Yy0wZWM2LTRlM2MtYWZmNC05NGM1NGMwN2Y5NjgiLCJpYXQiOjE3NzkzMzExNTUsImV4cCI6MTc3OTkzNTk1NX0.0duBsqexnNs5lL1NKcWtLRkfEYmug5u933IqCbso1m4');
INSERT INTO public.users (id, created_at, updated_at, username, password, refresh_token) VALUES ('99270236-e356-4872-b5dd-6695fb8c78d2', '2025-12-07 10:25:50.088203+00', NULL, 'siapa', '$2b$10$mcLRjJlFaT1Wi8pyPkFt8O0CCBi5vG9gO8TiN8uF/ImXpd3w6IbGG', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiI5OTI3MDIzNi1lMzU2LTQ4NzItYjVkZC02Njk1ZmI4Yzc4ZDIiLCJpYXQiOjE3NjUxMDQ4NzIsImV4cCI6MTc2NTcwOTY3Mn0.Z4HW3cdetdtRzsZ32Vj1KAsBQnJZcTcGLRZ9ZDOI3PI');
INSERT INTO public.users (id, created_at, updated_at, username, password, refresh_token) VALUES ('139465b7-eb1a-4cfd-b3c9-c935cd7ff212', '2026-01-02 16:09:57.169375+00', NULL, 'tes', '$2b$10$d0MerI5re4huzBNsiBtIku2of23a6Fz7wPW6NSN402AOgl9O7R/By', 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMzk0NjViNy1lYjFhLTRjZmQtYjNjOS1jOTM1Y2Q3ZmYyMTIiLCJpYXQiOjE3Njk1OTU3NTUsImV4cCI6MTc3MDIwMDU1NX0.Ybo17iOn3u7mukP0btbgZCtkkL46c7oXhOLTanN7x9Q');


--
-- Name: recommendation_captions PK_1533d27aa9be8f10775cd82e295; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_captions
    ADD CONSTRAINT "PK_1533d27aa9be8f10775cd82e295" PRIMARY KEY (id);


--
-- Name: recommendation_hastags PK_3c1cd6f8d28f960987ee7c5e937; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_hastags
    ADD CONSTRAINT "PK_3c1cd6f8d28f960987ee7c5e937" PRIMARY KEY (id);


--
-- Name: scrape_results PK_3c8ec1d8289b3876d1aaa44a982; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scrape_results
    ADD CONSTRAINT "PK_3c8ec1d8289b3876d1aaa44a982" PRIMARY KEY (id);


--
-- Name: sentiment_comments PK_79a16a0f0220983db5b6f5859a8; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sentiment_comments
    ADD CONSTRAINT "PK_79a16a0f0220983db5b6f5859a8" PRIMARY KEY (id);


--
-- Name: sentiment_result PK_86c8d740551a9efe751cbca494f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sentiment_result
    ADD CONSTRAINT "PK_86c8d740551a9efe751cbca494f" PRIMARY KEY (id);


--
-- Name: recommendation_result PK_9007cb2452525a106d05e1816ce; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_result
    ADD CONSTRAINT "PK_9007cb2452525a106d05e1816ce" PRIMARY KEY (id);


--
-- Name: users PK_a3ffb1c0c8416b9fc6f907b7433; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_a3ffb1c0c8416b9fc6f907b7433" PRIMARY KEY (id);


--
-- Name: recommendation_best_posting PK_d5b1e4bcccd94a53b981da16d22; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_best_posting
    ADD CONSTRAINT "PK_d5b1e4bcccd94a53b981da16d22" PRIMARY KEY (id);


--
-- Name: users UQ_fe0bb3f6520ee0469504521e710; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "UQ_fe0bb3f6520ee0469504521e710" UNIQUE (username);


--
-- Name: langchain_documents langchain_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.langchain_documents
    ADD CONSTRAINT langchain_documents_pkey PRIMARY KEY (id);


--
-- Name: recommendation_best_posting FK_2cb8bd9499127a95d060f1d637b; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_best_posting
    ADD CONSTRAINT "FK_2cb8bd9499127a95d060f1d637b" FOREIGN KEY (recommendation_result_id) REFERENCES public.recommendation_result(id) ON DELETE CASCADE;


--
-- Name: sentiment_result FK_2e1cfb98d8dcfc930a2a329c2c5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sentiment_result
    ADD CONSTRAINT "FK_2e1cfb98d8dcfc930a2a329c2c5" FOREIGN KEY (scrape_result_id) REFERENCES public.scrape_results(id) ON DELETE CASCADE;


--
-- Name: sentiment_comments FK_3a8a1f50e7187f009d427c74a01; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.sentiment_comments
    ADD CONSTRAINT "FK_3a8a1f50e7187f009d427c74a01" FOREIGN KEY (sentiment_result_id) REFERENCES public.sentiment_result(id) ON DELETE CASCADE;


--
-- Name: recommendation_result FK_51b8c8f7d93028558c3a99ca164; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_result
    ADD CONSTRAINT "FK_51b8c8f7d93028558c3a99ca164" FOREIGN KEY (sentiment_result_id) REFERENCES public.sentiment_result(id) ON DELETE CASCADE;


--
-- Name: recommendation_captions FK_690b20abd9802e3c42d8794a327; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_captions
    ADD CONSTRAINT "FK_690b20abd9802e3c42d8794a327" FOREIGN KEY (recommendation_result_id) REFERENCES public.recommendation_result(id) ON DELETE CASCADE;


--
-- Name: scrape_results FK_ce701b207db606b21c0e7736d73; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scrape_results
    ADD CONSTRAINT "FK_ce701b207db606b21c0e7736d73" FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: recommendation_hastags FK_d3d5e47f8c3b10c2d402fe8f8cc; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.recommendation_hastags
    ADD CONSTRAINT "FK_d3d5e47f8c3b10c2d402fe8f8cc" FOREIGN KEY (recommendation_result_id) REFERENCES public.recommendation_result(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

